
<div class="row mt-2">
    <div class="col-sm-5">
            <mat-card class="ml-1">
                    <mat-card-header>
                        <mat-card-title>Dashboard</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                       <p>To navigate use the menu option on the left of the top bar.</p>
                       
                    </mat-card-content>
                </mat-card>
    </div>
</div>


<ng-container *ngIf="dynamicComponents && dynamicComponents.length>0">
    <div class="m-2">
        <componentloader [components]="dynamicComponents"></componentloader>
    </div>        
</ng-container>