<div class="sj-bottom-sheet">

    <div class="expandedDetailContainer">
        <div class="expandedDetailTitle mb-3">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            <span class="ms-3">Block Add Panel</span>
        </div>
        <form novalidate="" (ngSubmit)="closeBottomSheet()" #frmBlockAdd="ngForm">
            <div *ngIf="block!=null" fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.xs="column" fxLayoutGap="10px">
    
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input #blockAddTitle (keypress)="onTitleChange($event)" type="text" matInput 
                    [(ngModel)]="block.title"  [ngModelOptions]="{standalone: true}">
                    <mat-hint class="sj-formhint-error" *ngIf="!isFieldValid('title')">Please enter a title</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input #blockAddType (keypress)="onTypeChange($event)" type="text" matInput 
                    [(ngModel)]="block.blockType"  [ngModelOptions]="{standalone: true}">
                    <mat-hint class="sj-formhint-error" *ngIf="!isFieldValid('blockType')">Please enter a block type</mat-hint>
                </mat-form-field>
              
            </div>
            <div class="sj-button-row">
                <button class="mr-3" [disabled]="!isFormValid()" type="submit" mat-raised-button color="primary">
                    <fa-icon [icon]="['fas', 'save']"></fa-icon>
                    <span class="ms-3">Save</span></button>
                <button mat-raised-button>Cancel</button>
              </div>
        </form>
    </div>
</div>
